html,
body {
  margin: 0;
  padding: 0;
}
/* HOME BACKGROUND */
.background img {
  width: 100%;
  height: auto;
}

/* WINNER SECTION */
.winner {
  margin: 50px 206px;
  display: flex;
  justify-content: center; /* giữa ngang */
  align-items: center;
}

.winner .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 400px;
}

.winner .container .content {
  flex: 1;
}

.winner .container .image img {
  display: block;
  width: 500px;
  height: auto;
  border-radius: 10px;
}

.winner .container .content .THEFIRSTWINNER {
  color: #043372;
}

.winner .container .content .univoice {
  background: linear-gradient(to right, #043372, #d6cce4);
  background-clip: text; /* standard property for compatibility */
  -webkit-background-clip: text;
  
  -webkit-text-fill-color: transparent;
}

.winner .container .content a button {
  background: linear-gradient(to right, #043372, #d6cce4);
  min-width: 150px;
  height: 42px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 40px;
  color: white;
  font-size: 16px;
  text-decoration: none;
}

.winner .container .content a button:hover {
  background: linear-gradient(45deg, #043372, #d6cce4);
  transform: scale(1.05);
}

/* abouttheunivoice SECTION */
.about-the-univoice {
    padding: 50px 0;
    background-image: url("/Assets/images/abouttheunivbackgr.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.about-the-univoice_container {
    margin: 0 191px;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
}

.about-the-univoice_container_description {
    text-align: justify;
    margin: 0 auto 30px;
    font-size: 18px;
    max-width: 800px;
}

.about-the-univoice_container_description h2 {
    text-align: center;
    background: linear-gradient(to right, #384f8a, #d6cce4);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    font-size: 40px;
    margin: 0;
}

.summary-content {
    margin-top: 16px;
    color: white;
}

.about-the-univoice_container_image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-the-univoice_container_image img {
    width: 960px;
    height: auto;
    border-radius: 10px;
}

/* SPONSOR SECTION */
#sponsors-box {
  padding: 50px 0;
}

.sponsors-box-content {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1200px;
  height: 85px;
  display: flex;
  justify-content: space-around;

}

.sponsors-box-content-link {
  flex-shrink: 0;
}

.sponsors-img {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  width: 120px;   /* Bạn muốn to hay nhỏ, chỉ cần sửa ở đây */
  max-height: 85px;
  aspect-ratio: 1/1; /* Cắt bỏ nếu ảnh bị tràn */
  padding: 16px;
  margin: 0 10px;
}

.sponsors-box-content-link + .sponsors-box-content-link {
  margin-right: 20px;
}

.sponsors-img img {
  width: auto;
  height: 100%;
}


.pov img {
  object-fit: contain;
}
