html,
body {
  margin: 0;
  padding: 0;
}
/* BACKGROUND */
.background {
  background-image: url("/Assets/images/Backgroundhomepage.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 1152px;
  width: 100%;
}

/* WINNER SECTION */
.winner {
  margin: 50px 206px;
  display: flex;
  justify-content: center; /* giữa ngang */
  align-items: center;
}

.winner .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 400px;
}

.winner .container .content {
  flex: 1;
}

.winner .container .image img {
  display: block;
  width: 500px;
  height: auto;
  border-radius: 10px;
}

.winner .container .content .THEFIRSTWINNER {
  color: #043372;
}

.winner .container .content .univoice {
  background: linear-gradient(to right, #043372, #d6cce4);
  background-clip: text; /* standard property for compatibility */
  -webkit-background-clip: text;
  color: transparent; /* standard fallback for non‑WebKit */
  -webkit-text-fill-color: transparent;
}

.winner .container .content a button {
  background: linear-gradient(to right, #043372, #d6cce4);
  min-width: 150px;
  height: 42px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 40px;
  color: white;
  font-size: 16px;
  text-decoration: none;
}

.winner .container .content a button:hover {
  background: linear-gradient(45deg, #043372, #d6cce4);
  transform: scale(1.05);
}

/* abouttheunivoice SECTION */
.abouttheunivoice {
    padding: 30px 0;
    background-image: url("/Assets/images/abouttheunivbackgr.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.abouttheunivoice .container {
    margin: 0 206px 20px;
    padding: 0 15px;
}

.abouttheunivoice .container .content {
    text-align: justify;
    margin: 0 auto 20px;
    font-size: 18px;
    max-width: 800px;
}

.abouttheunivoice .container .content h2 {
    text-align: center;
    background: linear-gradient(to right, #384f8a, #d6cce4);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}

.abouttheunivoice .container .content .vsummaryvcontent {
    margin: 16px 0 40px;
    color: white;
}

.abouttheunivoice .container .image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.abouttheunivoice .container .image img {
    width: 960px;
    height: auto;
    border-radius: 10px;
}

/* SPONSOR SECTION */
#sposors {
  display: flex;
}

.SponsorImg img {
  width: 10%;
  height: auto;
  display: flex;
  align-items: center;
  text-align: center;
  float: left;
}

/* Responsive (mobile) */
@media (max-width: 768px) {
  .winner .container {
    flex-direction: column;
    text-align: center;
  }

  .winner .container .image img {
    width: 100%;
  }
}
