<head>
  <base href="/THEUNIVOICE/" />
</head>

<nav>
  <div class="nav-container">
    <div class="navbar-header">
      <a href="/index.html"><img src="/assets/images/Logo.png" /></a>
    </div>
    <div class="menu text">
      <ul>
        <li><a href="/index.html" class="menu-options">HOME</a></li>
        <li><a href="/pages/aboutus.html" class="menu-options">ABOUT US</a></li>
        <li>
          <a href="/pages/merchandise.html" class="menu-options">MERCHANDISE</a>
        </li>
        <li>
          <a href="/pages/news&gallery.html" class="menu-options"
            >NEWS & GALLERY</a
          >
        </li>
        <li>
          <a href="/pages/partners.html" class="menu-options">PARTNERS</a>
        </li>
        <li><a href="/pages/contact.html" class="menu-options">CONTACT</a></li>
      </ul>
    </div>
  </div>
</nav>
